// ======================================================
//          margin and padding
// ======================================================

@each $size in (5,10,15,20,25,30,35,40,45,45,50,55,60,65,70,80,85,90,95,100){
    // ===========================
    // common - margin
    // ===========================
    .m-#{$size}{
        margin:#{$size}px;
    }
    .mt-#{$size}{
        margin-top:#{$size}px;
    }
    .mb-#{$size}{
        margin-bottom:#{$size}px;
    }
    .ml-#{$size}{
        margin-left:#{$size}px;
    }
    .mr-#{$size}{
        margin-right:#{$size}px;
    }

    // ===========================
    // common - padding
    // ===========================
    .p-#{$size}{
        padding:#{$size}px;
    }
    .pt-#{$size}{
        padding-top:#{$size}px;
    }
    .pb-#{$size}{
        padding-bottom:#{$size}px;
    }
    .pl-#{$size}{
        padding-left:#{$size}px;
    }
    .pr-#{$size}{
        padding-right:#{$size}px;
    }
}

// ======================================================
//  font class
// ======================================================
@each $font-sizes in (18,22,24){
    .font-size-#{$font-sizes}{
        font-size: #{$font-sizes}px;
    }
}

.clickable{
    cursor: pointer;
}