.style-check{
    font-size: 24px;
    color:$lime-green ;
    text-decoration: underline;
}

.form-group{
    label{
        font-family: $lato-bold;
    }
    .form-control:focus{
        border-color: $soft-lime-green;
        box-shadow: 0 0 0 0.2rem rgba($soft-lime-green, 0.25);
    }
}

.currency-card-list{
    .card-header{
        font-family: $lato-medium;
        font-weight: 600;
        color:$lime-green ;
    }
    .currency-price{
        color: $very-dark-blue;
        font-weight: 700;
    }
}

.page-title{
    color: $very-dark-blue;
    font-weight: 700;
    letter-spacing: 2px;
}

// ===========================
//  datepicker style
// ===========================

.react-calendar__tile--active{
    background:$lime-green;
}

.react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus{
    background:$bright-cyan;
}
.react-daterange-picker__wrapper{
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ced4da;
}