// =================================
// common styling for app tags
// =================================
*{
    padding: 0;
    margin: 0;
}


// =================================
// common styling for body
// =================================
body{
    background-color: $white-color;
    font-family: $lato-regular;
    font-size: $font-size-18;
}