// =================================
// common styling for app tags
// =================================
*{
    padding: 0;
    margin: 0;
}


// =================================
// common styling for body
// =================================
body{
    background-color: '';
    font-family: '';
    font-size: 18px;
}