// ===========================
// font-family vars
// ===========================
$lato-regular:'Lato-Regular';
$lato-medium:'Lato-Medium';
$lato-bold:'Lato-Bold';


// ===========================
// font-size
// ===========================
$font-size-18:18px;
$font-size-22:22px;
$font-size-26:26px;

// ===========================
// colors
// ===========================
$white-color:#FFFFFF;
$lime-green: #00D559;
$soft-lime-green: #8cde9e;
$bright-cyan: #4addfa;


